res.write('<!DOCTYPE html>'+
'<html>'+
'    <head>'+
'        <meta charset="utf-8" />'+
'        <title>Pagina Node.js!</title>'+
'    </head>'+ 
'    <body>'+
    <h1> You searched for: <%= foo %></h1>
'       <p>Sono un paragrafo <strong>HTML</strong>!</p>'+
'    </body>'+
'</html>');